/* floor plan css */
$open-sans: 'Open Sans', sans-serif;
.floor-plan{
    font-family:$open-sans; 
    .floor-img-cont {
        overflow: hidden;
        border-radius: 5px;
        width: 100%;
        display: inline-block;
        background: $primary-color;
        margin-top: 24px;
    }
    .image-container {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        border: 1px solid $primary-color;
    }
    .btn-container {
        padding: 20px;
    }

}