/* location */
$open-sans: 'Open Sans', sans-serif;
.location{
    font-family:$open-sans; 
    .accordion-body{
        background: #ffff;
        ul{
            margin-bottom: 0;
        }
    }
    iframe{
        width: 100%;
        border-radius: $border-rad;
        
    }
    .location-content {
        width: 100%;
        padding: 2px;
        margin-top: 10px;
        p{
            font-size: 14px;
            margin-bottom: 12px;
        }

        .icon-icons8-location-50{
            font-size: 18px;
            vertical-align: middle;
        }
    } 
    .loc-map-text {
        letter-spacing: 0.5px;
        line-height: 30px;
    }
    .loc-map-img {
        margin-top: 10px;
    }
 
}
