// about developer

.about-developer {
    padding: 40px 20px;
    border: 1px solid #666666;
    position: relative;
    z-index: 1;
    .about-paragraph {
        .content {
            color: #666666;
            font-weight: 400;
        }
    }
    ul{
        li{
            color: #666666;
        }
    }
    .about-heading {
        position: absolute;
        margin-top: -60px;
        z-index: 2;
        background-color: #fff;
        width: 40%;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
    }

    h4{
        color:#666666;
    }
}
@media (max-width: 992px) {
    .about-developer {
        .about-heading {
            width: 80%;
            font-size: 20px;
            margin-top: -55px;
        }
    }
}
