// amenities section
.amenities-sec {
    margin-top: 6rem;
    background: #f8f5f3;
    border: 1px solid #dddddd;
    width: 14rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .amenities-img{
        font-size: 5rem;
    }
    p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: #333333;
        font-weight: 600;
    }
    .amenities-para-box {
        text-align: center;
    }
    .amenities-img {
        width: 10rem;
        clip-path: polygon(49% 0, 100% 28%, 100% 72%, 51% 100%, 1% 74%, 0 29%);
        padding:3.4rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -25%;
        background: #b9afa9db;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
        img {
            width: 5rem;
            height: 5rem;
        }
    }
}

// amenities section
@media (max-width: 992px) {
    .amenities-slider {
        .amenities-sec {
            width: 100%;
            // margin-top: 4rem;
        }
        .slick-slide {
            margin: 2rem;
        }
    }
}
