.banner-section {
    .slides{
        img{
            display: none;
            width: 100%;
            height: 100vh;
            opacity: 0;
        }
        img.showing{
            transition: opacity 1s;
            display: block;
            opacity: 1;
        }
    }
}