// price sectio
.list-item {
    display: flex;
    justify-content: center;
    align-items: center;

    .first-element {
        background: #f8f5f3;
        border: 1px solid $theme-color;
        padding: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.4rem;
        width: 14rem;
        height: 12rem;
        P{
            font-weight: 600;
            color:#333333;
        }

        i {
            color: $theme-color;
        }
    }

    .price-plan-list {
        display: flex;
        align-items: center;
        background: #ffffff;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        height: 11vh;
        padding: 5rem 1rem;
        justify-content: space-around;
        width: 100%;

        .price-plan-main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            text-align: center;

            p {
                font-size: 1.4rem;
                font-weight: 400;
                margin-top: 5px;
                margin-bottom: 3rem;
                color: #333333;
                font-weight: 600;
            }

            p>span {
                font-size: 1.1rem;
                margin-top: 2rem;
            }

            i {
                color: $theme-color;
                margin-top: 1rem;
                font-size: 1.6rem;
                font-weight: bold;
            }
        }

        .price-btn {
            border: none;
            padding: 1rem 2.4rem;
            font-size: 1.4rem;
            background: $theme-color;
            color: #fff;
            cursor: pointer;
        }
    }
}

@media (max-width: 767px) {
    .list-item {
        margin-bottom: 20px;
        flex-direction: column;
        .first-element{
            display: flex;
            flex-direction: row;
            width: auto;
            height: 5rem;
        }

        .price-plan-list {
            width: 100%;
        }
    }
}

@media (max-width: 425px) {
    .list-item {
        .price-plan-list {
            .price-plan-main {

                p,
                i {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

.price-subheading {
    font-size: 2rem;
    font-weight: normal;
}