/* footer css  */
$open-sans: 'Open Sans', sans-serif;
.footer-section {
    font-family:$open-sans; 
    background: #f0f2f3;
    padding: 20px 0 0;
    .footer-text-content{
        text-align: center;
        border-top: 1px solid #6c757d;
        padding: 10px;
        font-size: 0.6875em;
        margin-top: 20px;
    }
    .term_sec a {
        color: #000;
        text-decoration: none;
        font-size: 16px;
    }
    .copyright_sec{
        font-size:0.6875em;
        p{
            text-align: center;
            color: #757575;
        }
    }

    .fixed-social-icon {
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 1;
        ul{
           margin-bottom: 0;
           li {
               background: #000;
               margin-bottom: 5px;
               transition: 0.3s ease-out;
               border: 2px solid #fff;
               border-radius: 10px;
               &:first-child {
                background-color: rgb(42, 114, 197);
                }
                &:last-child {
                    background: rgb(64, 202, 60);
                }
               &:hover{
                   box-shadow: 1px 2px 6px #000;
                   border-radius: 15px;
               }
               img {
                    width: 40px;
                    display: block;
                    padding: 5px;
                }
           }
       }
       i{
           transition: 0.3s ease all;
       
       }
       .icon-whatsapp {
           color: #5afb76;
           &:hover{
               color: #0cff37;
           }
       }
    }
}