
$open-sans: 'Open Sans', sans-serif;
/*  onoad popup css start */
.modal{
    font-family:$open-sans; 
    .modal-title {
        font-size: 18px;
        letter-spacing: 0.5px;
        padding-right: 20px;
    }
    .popup-img {
        margin: 0 auto 10px;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .modal-dialog{
        max-width: 380px;
        .contry-code-mb-number{
            display: flex;
            .country-code{
                width: 34%;
                select{
                    border-right: none;
                    background-color: #fff;
                }
            }
            .m-number-cont{
                width: 66%;
                .form-control{
                    border-left: none;
                }
                .form-control:focus{
                    box-shadow: none;
                }
            }
        }
    }
    .btn-close {
        position: absolute;
        right: 8px;
        top: 8px;
        background:#EB1F3B;
        opacity: 1;
        color: #fff;
        border-radius: 0 4px 0 0;
        line-height: 16px;
        &:hover{
            color: #fff;
            opacity: 0.90;
        }
        &:focus{
            box-shadow: none; 
        }
    }
    .country-code select, .name-cont .form-control, .m-number-cont .form-control{
        border: 1px solid #949494;
        margin-bottom: 16px;
        position: relative;

    }
    .country-code select, .country-code select, .name-cont .form-control, .m-number-cont .form-control{
        height: calc(2.3em + .75rem + 0px);
        width: 100%;
        font-size: 0.875em;
        border-radius: 0;
        color: #495057;
    }
    .register-submit{
        width: 100%;
    }
    .form-control:focus{
        box-shadow: none;
    }
}
/*  onoad popup css end */