$open-sans: 'Open Sans', sans-serif;
.price-section{
  font-family:$open-sans; 
    table {
        border: 1px solid $primary-color;
        border-collapse: collapse;
        margin: 0;
        padding: 0; 
        border-radius:5px;
        width: 100%;
        table-layout: fixed;

        .t-border {
            border: 1px solid $primary-color;
        }
        .t-border-right{
            border-right: 1px solid $primary-color;
        }
        .t-border-bottom {
            border-bottom: 1px solid $primary-color;
        }
        .table>:not(:last-child)>:last-child>* {
            border-bottom: 1px solid $primary-color;
        }

      tr {
        background-color: #ffff;
        border: 1px solid $primary-color;
      }
      th,td {
        padding: .625em;
        text-align: center;
      }
      th {
        font-size: 16px;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
      }
}


@media(max-width:768px){
    .price-section{
        table {
            border: 0;
            .t-border{
                border: 0;
            }
            .t-border-m{
                border-bottom: 1px solid $primary-color;
            }
            .t-border-bottom {
              border-bottom: 1px solid $primary-color;
            }
            tr {
              background-color: #ffff;
              border: 1px solid $primary-color;
            }
            tr:last-child .t-border-right{
              border-right: 0;
          }
            thead {
              border: none;
              clip: rect(0 0 0 0);
              height: 1px;
              margin: -1px;
              overflow: hidden;
              padding: 0;
              position: absolute;
              width: 1px;
            }
            tr {
              border-bottom: 1px solid $primary-color;
              display: inline-block;
              width: 48%;
              margin: 24px 2px 0 2px;
            }
            td {
              border-bottom: 1px solid $primary-color;
              display: block;
              font-size: 16px;
              text-align: center;
            }
            td::before {
              content: attr(data-label);
              float: left;
              font-weight: bold;
              text-transform: uppercase;
            }
            td:last-child {
              border-bottom: 0;
            }
            
          }
        
    }
}

  