.banner-section {
    position: relative;
    .carousel{
            width: 100%;
            height:100vh;
            @media (max-width:768px) {
                margin: -70px 0 0 0;
            }
    }
    .banner-content {
        position: absolute;
        float: left;
        left: 0rem;
        top: 0;
        line-height: 4rem;
        z-index: 2;
        opacity: 0.9;
        color: #fff;
        margin-top: 18rem;
        margin-left: 10rem;

        .banner-h1 {
            font-weight: 700;
            font-size: 3.5rem;
            letter-spacing: 3px;
            margin-bottom: -1rem;
        }

        .banner-h {
            font-weight: 400;
            font-size: 2rem;
        }

        .banner-text {
            p {
                font-weight: 700;
                font-size: 3rem;
                line-height: 3rem;
                margin-top: 2rem;
                letter-spacing: 2px;
            }
        }
    }

    // banner form

    .banner-form-part {
        background:#fff;
        max-width: 350px;
        position: absolute;
        right: 80px;
        top: 145px;
        // height: 32rem;
        // float: right;
        // right: -20px;
        // top: -5rem;
        padding: 3rem;
        color: #000;
        border-radius: 1rem;
        text-align: center;
        z-index: 2;

        // margin-top: 18rem;
        // margin-right: 10rem;
        .form-container {
            position: relative;
            // top: -20px;
        }

        .text-black {
            background: $theme-color;
            width: 100%;
            border: none;
            padding: 10px 10px;
            margin-top: 2rem;
            margin-bottom: 0.5rem;
            color: #fff;
            font-size: 1.5rem;
        }

        .form-input {
            background: transparent;
            border: none;
            border-bottom: 1px solid #000;
            width: 100%;
            color: #000;
        }

        .banner-p {
            font-weight: 600;
            font-size: 1.4rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        input::placeholder {
            color: #ccc;
        }

        .banner-form-heading {
            font-weight: 600;
            font-size: 1.5rem;
            letter-spacing: 2px;
            padding-bottom: 1rem;
            border-bottom: 1px solid $theme-color;
        }

        .banner-form-heading1 {
            font-weight: 600;
            font-size: 1.5rem;
            letter-spacing: 2px;
            padding-bottom: 1rem;
            border-bottom: 1px solid $theme-color;
            margin-top: 10px;
        }

        h3 {
            font-size: 16px;
            letter-spacing: 2px;
        }

        .country-code {
            display: inline-block;
            width: 12rem;
            margin-top: 3rem;
        }

        .input-field.m-number-cont {
            display: inline-block;
            width: calc(100% - 145px);
            margin-top: 3rem;
        }

        .form-phone-group {
            select {
                width: 10rem;
                float: left;
                border: none;
                border-bottom: 1px solid;
                background: transparent;
                color: #000;
            }

            select option {
                color: #000;
            }
        }

        .term-condition {
            margin-top: 2rem;
        }

        .country-code-sec {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// banner overlay  

// .banner-section::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.4);
//     z-index: 1;
// }

@media (max-width: 768px) {

    // banner section
    .banner-section {
        .banner-content {
            margin-left: 2rem;
        }

        .banner-form-part {
            position: relative;
            right: 0;
            max-width: 375px;
            display: block;
            margin: 0 auto;
            // float: left;
            background-color: #fff;
            border: 5px solid $theme-color;
            border-radius: 0;
            color: #000;
            margin-bottom: 7rem;
            // margin-top: 4rem;
            top: 25px;

            .form-input {
                border-bottom: 1px solid #000;
            }

            .form-phone-group {
                select {
                    color: #000;
                }
            }
        }
    }
}

@media(min-width:992px){
    .banner-form-part{
        border: 3px solid $theme-color;
    }
}