.banner-offer {
    position: relative;
    max-width: 375px;
    // float: left;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: 5px solid $theme-color;
    border-radius: 0;
    // margin-bottom: 3rem;
    margin-top: 0px;
    color: #000;
    text-align: center;
    padding: 20px;

    // @media (max-width:768px) {
    //   margin: -130px 0 0 0;
    // }
    .offers{
      Ul{
        list-style-type: disclosure-closed;
        text-align: left;
        margin-left: 20PX;
      }
    }

    h2{
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        text-transform:uppercase;
        letter-spacing: 1px;
      }
    h1{
      padding: 10px;
      border-radius: 5px 5px 0 0;
      color: #fff;
      background-color: $theme-color;
    }

      .offer-sub-heading{
        font-size: 1.5rem;
      }
  }
  @media(min-width:992px){
    .banner-offer{
      position: absolute;
      // width: 30vw;
      width: 350px;
      top: 16rem;
      background:#fff;
      left: 5rem;
      border: 3px solid $theme-color;
      border-radius: 1rem;
      text-align: center;
      color: #000;
      h2{
        color: $theme-color;
      }
    }
  }
  