// Home Representation section

.request-office {
    background-image: url("..//../img/banner/banner.webp");
    background-color: #cccccc;
    height: 42rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0.4rem;
    .request-office-content {
        position: absolute;
        width: 90%;
        height: 70%;
        background: rgba(0, 0, 0, 0.7);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        .request-office-video {
            .video-btn {
                top: 50%; 
                float: left;
                left: 25%;
                position: absolute;
            }
            .video-text {
                font-size: 24px;
                top: 60%;
                float: left;
                left: 8%;
                position: absolute;
                font-weight: 600;
            }

            .video-play-button {
                top: 50%;
                position: absolute;
                z-index: 10;
                transform: translateX(-50%) translateY(-50%);
                box-sizing: content-box;
                display: block;
                width: 32px;
                height: 44px;
                border-radius: 50%;
                padding: 18px 20px 18px 28px;
            }

            .video-play-button:before {
                content: "";
                position: absolute;
                z-index: 0;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                width: 80px;
                height: 80px;
                background: #fff;
                border-radius: 50%;
                animation: pulse-border 1500ms ease-out infinite;
            }

            .video-play-button:after {
                content: "";
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                width: 80px;
                height: 80px;
                background: #fff;
                border-radius: 50%;
                transition: all 200ms;
            }

            .video-play-button:hover:after {
                background-color: darken(#fff, 10%);
            }

            .video-play-button img {
                position: relative;
                z-index: 3;
                max-width: 100%;
                width: auto;
                height: auto;
            }

            .video-play-button span {
                display: block;
                position: relative;
                z-index: 3;
                width: 0;
                height: 0;
                border-left: 32px solid #333333;
                border-top: 22px solid transparent;
                border-bottom: 22px solid transparent;
            }

            @keyframes pulse-border {
                0% {
                    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
                    opacity: 1;
                }
                100% {
                    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
                    opacity: 0;
                }
            }
        }

        .video-para {
            top: 25%;
            padding: 0 30px;
            position: absolute;
            text-align: center;
            p {
                font-size: 24px;
                font-weight: 600;
                line-height: 3rem;
                text-transform: uppercase;
            }
            .video-text-btn {
                background: $theme-color;
                border: none;
                color: #fff;
                padding: 10px 20px;
                margin-top: 30px;
                cursor: pointer;
            }
        }
    }
}


@media (max-width: 992px) {
    .request-office {
        .request-office-content {
            width: 100%;
            height: 100%;
            .video-para {
                top: 45%;
                width: 100%;
            }
            .col-12 {
                flex: 0 0 auto !important;
                width: 100% !important;
            }
            .request-office-video {
                .video-btn {
                    left: 50%;
                    top: 20%;
                    transform: translate(-50%, -20%);
                }
                .video-text {
                    left: 50%;
                    top: 35%;
                    transform: translate(-50%, -35%);
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .main {
        .section {
            .main-heading-para {
                .sub-heading {
                    margin-top: 20px;
                }
            }
        }
    }
}

@media (max-width: 343px) {
    .request-office{
        .video-para{
            p{
                padding: 1px;
                line-height: 3rem;
            }
            .video-text-btn{
                margin-top: 20px;
            }
        }
    }
}
