/* Google fonts */

$off-white: #f5f5f5;
$primary: #0f202e;
$primary-bg: rgba(15, 32, 46, 0.9);


@keyframes slideIn {
	0% {
		transform: scale(1.15);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
.gallery-lightbox {
	width: 100%;
}
.gallery-lightbox__box {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 1.2rem;
	overflow: hidden;
	img {
		cursor: pointer;
		border-radius: 0.6rem;
	}
}
.gallery-lightbox__popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $primary-bg;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	opacity: 0;
	visibility: hidden;
	transition: all 0.35s ease-in-out;
}
.gallery-lightbox__popup.active {
	opacity: 1;
	visibility: visible;
	.fullview {
		img {
			animation: slideIn 1s forwards ease-in-out;
			width: 100%;
			height: 100%;
		}
	}
}
.gallery-lightbox__popup--options {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	margin-bottom: 4rem;
	a {
		color: $off-white;
		text-decoration: none;
		font-size: 2.5rem;
		margin-right: 2rem;
		&:last-child {
			margin-right: 0;
		}
	}
}
.disabled {
	pointer-events: none;
	opacity: 0.2;
}
.gallery-lightbox__popup--content {
	.fullview {
		width: 90%;
		margin: 0 auto;
		height: 100%;
		overflow: hidden;
		border-radius: 0.6rem;
		transition: all 0.3s ease-in-out;
		transform-origin: center;
	}
	p {
		text-align: center;
		margin-top: 4rem;
		color: $off-white;
		font-size: 1.8rem;
	}
}
.gallery-lightbox__popup--content.fullscreen {
	.fullview {
		max-width: 100%;
		max-height: 100%;
		border-radius: 0;
	}
}
.gallery-lightbox__popup--navigation {
	margin: 8rem 0;
	display: flex;
	align-items: center;
}
button.arrow {
	background-color: transparent;
	border: 0.2rem solid $off-white;
	color: $off-white;
	padding: 0.8rem;
	font-size: 2.5rem;
	cursor: pointer;
	border-radius: 0.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2rem;
}
@media screen and (min-width: 700px) {
	.gallery-lightbox__box {
		flex: 0 0 calc((6 / 12) * 100%);
		max-width: calc((6 / 12) * 100%);
	}
}
@media screen and (min-width: 901px) {
	.container {
		width: 80%;
	}
	.gallery-lightbox__box {
		flex: 0 0 calc((4 / 12) * 100%);
		max-width: calc((4 / 12) * 100%);
		// min-height: 40rem;
	}
	.gallery-lightbox__popup--content {
		width: 80%;
		height: 100%;
		overflow: hidden;
	}
	button.arrow {
		position: absolute;
		top: 40%;
	}
	button.arrow--left {
		position: absolute;
		left: 2rem;
	}
	button.arrow--right {
		position: absolute;
		right: 2rem;
	}
}
