.location-sec {
    .location-img {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;

        .overlay {
            background: $theme-bg;
            width: 100%;
            height: 90%;
            position: absolute;
            z-index: 1;
            top: -16px;
            left: -10px;
        }

        img,
        iframe {
            width: 100%;
            height: 100%;
            z-index: 2;
            position: relative;
        }
    }

    .site-visit-btn {
        border: none;
        background: $theme-color;
        padding: 8px 24px;
        color: #fff;
        float: right;
        cursor: pointer;
    }

    .first-card {
        margin-top: 24%;
    }

    .location-bottom {
        .location-content {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .location-card {
        padding: 30px 25px;

        // min-height: 26rem;
        .loc-img {
            padding: 20px;
            background: #f8f5f3;
            width: 100px;
            text-align: center;
        }

        .hr-line {
            height: 2px;
            width: 120px;
            margin-top: -2px;
            margin-left: -10px;
            background: #988265;
            color: #988265;
            opacity: 1;
        }

        .order-list {
            margin-top: 30px;
            list-style: none;

            .list-itm {
                position: relative;
                font-size: 1.4rem;
                font-weight: 500;
            }

            .list-itm:before {
                content: "";
                height: 8px;
                width: 8px;
                position: absolute;
                background: $theme-color;
                transform: rotate(-45deg);
                top: 12px;
                left: -20px;
            }
        }
    }
}

.location-text{
    margin-top: 2rem;
    font-weight: 400;
    text-transform: capitalize;
}