@use 'sass:math';
$primary : #326dee;
$secondary : #1ac888;
$error : #d32752;
$info : #f6c31c;

// color pallete
$colors: (
    "primary" : $primary,
    "secondary" : $secondary,
    "error" : $error,
    "info" : $info,
    "blue" : #1919e6,
    "red" : #e61919,
    "yellow" : #e6e619,
    "green" : #19e635,
    "orange" : #ffa600,
    "purple" : #9900ff,
    "gray" : #808080,
    "black" : black,
    "white" : white,
);

// spacing
$base-padding : 1rem;
$base-margin: 1rem;

//font size
$base-font-size :1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

//border
$base-border-thickness : 0.01rem;
$base-border-radius : calc($base-font-size / 2);

//box-shadow
$base-box-shadow : 0.1rem 0.3rem 0.5rem rgba(0,0,0,0.1);


// section-margin
$section-margin-xs: 4rem;
$section-margin-sm: 9rem;
$section-margin-lg: 12rem;
$section-margin-xl: 16rem;

// section-padding
$section-padding-xs: 4rem;
$section-padding-sm: 9rem;
$section-padding-lg: 12rem;
$section-padding-xl: 16rem;
