.floor-section{
    background-color: #f5f5f5;
    padding: 20px;
    .price-card-type1{
        margin-bottom: 50px;
        img{
            filter: blur(2px);
        }
        .btn{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
            padding: 6px 12px;
            opacity: 0.8;
            background: $Secondary-color;
            color: #fff;
            letter-spacing: 0.5px;
            max-width: fit-content;
            padding: 15px;
            font-weight: 700;
            border-radius: none;
        }
        .floor-title{
            position: absolute;
            background: $primary-color;
            color: #2f2f2f;
            margin: 0;
            padding: 6px 20px;
            font-size: 14px;
            text-transform: uppercase;
            height: 40px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
            font-weight: 600;
        }
    }
}