.highlight-section{
    background-color: #efefef;
    padding: 30px;
    margin-bottom: 0;
    ul{
        height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
        li{
            padding: 15px 20px;
            line-height: 20px;
            margin: 8px 0;
            // margin: 10px 0;
            font-size: 16px;
            // line-height: 22px;
            letter-spacing: 0.3px;
            background: #fff;
            // padding: 20px 25px;
            border-radius: 10px;
            list-style-type: none;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                height: 10px;
                width: 15px;
                display: block;
                left: -10px;
                top: 0;
                background: #fff;
                clip-path: polygon(0 0, 100% 0, 100% 100%);
                z-index: 0;
            }
        }
        .count{
            position: absolute;
            left: -25px;
            top: 6px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
        }
    }
}