@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kmkrjg');
  src:  url('../fonts/icomoon.eot?kmkrjg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kmkrjg') format('truetype'),
    url('../fonts/icomoon.woff?kmkrjg') format('woff'),
    url('../fonts/icomoon.svg?kmkrjg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icons8-building-with-rooftop-terrace-501:before {
  content: "\eb78";
}
.icon-icons8-climbing-50:before {
  content: "\eb79";
}
.icon-icons8-front-desk-50:before {
  content: "\eb7a";
}
.icon-icons8-man-feeding-duck-50:before {
  content: "\eb7b";
}
.icon-icons8-movie-theater-50:before {
  content: "\eb7c";
}
.icon-icons8-pavilion-50:before {
  content: "\eb7d";
}
.icon-icons8-performance-50:before {
  content: "\eb7e";
}
.icon-icons8-sauna-50:before {
  content: "\eb7f";
}
.icon-icons8-soccer-50:before {
  content: "\eb80";
}
.icon-icons8-theme-park-50_1:before {
  content: "\eb81";
}
.icon-icons8-trampoline-50_1:before {
  content: "\eb82";
}
.icon-icons8-vending-machine-50:before {
  content: "\eb83";
}
.icon-icons8-info-popup-50:before {
  content: "\eb77";
}
.icon-icons8-i-50:before {
  content: "\eb76";
}
.icon-icons8-fire-fighting-50:before {
  content: "\eb70";
}
.icon-icons8-housekeeping-50:before {
  content: "\eb71";
}
.icon-icons8-moon-star-50:before {
  content: "\eb72";
}
.icon-icons8-outdoor-parking-50:before {
  content: "\eb73";
}
.icon-icons8-video-doorbell-50:before {
  content: "\eb74";
}
.icon-icons8-walking-bridge-50:before {
  content: "\eb75";
}
.icon-icons8-eye-50:before {
  content: "\eb6f";
}
.icon-icons8-connectivity-50:before {
  content: "\eb67";
}
.icon-icons8-forest-50:before {
  content: "\eb68";
}
.icon-icons8-forest-50-_1:before {
  content: "\eb69";
}
.icon-icons8-fruit-bag-50:before {
  content: "\eb6a";
}
.icon-icons8-gym-50:before {
  content: "\eb6b";
}
.icon-icons8-holiday-50:before {
  content: "\eb6c";
}
.icon-icons8-proximity-sensor-50:before {
  content: "\eb6d";
}
.icon-icons8-restroom-50:before {
  content: "\eb6e";
}
.icon-icons8-archery-501:before {
  content: "\eb5c";
}
.icon-icons8-balcony-50:before {
  content: "\eb5d";
}
.icon-icons8-beach-volleyball-50:before {
  content: "\eb5e";
}
.icon-icons8-big-ben-50:before {
  content: "\eb5f";
}
.icon-icons8-building-with-rooftop-terrace-50:before {
  content: "\eb60";
}
.icon-icons8-party-50:before {
  content: "\eb61";
}
.icon-icons8-pub-50:before {
  content: "\eb62";
}
.icon-icons8-treehouse-50:before {
  content: "\eb63";
}
.icon-icons8-work-from-home-50:before {
  content: "\eb64";
}
.icon-icons8-work-space-50:before {
  content: "\eb65";
}
.icon-icons8-archery-50:before {
  content: "\eb66";
}
.icon-icons8-beach-50:before {
  content: "\eb54";
}
.icon-icons8-networking-manager-50:before {
  content: "\eb55";
}
.icon-icons8-workers-50:before {
  content: "\eb56";
}
.icon-icons8-color-palette-50:before {
  content: "\eb57";
}
.icon-icons8-swimming-50:before {
  content: "\eb58";
}
.icon-icons8-swimming-50-_1:before {
  content: "\eb59";
}
.icon-icons8-swimming-pool-50-_1:before {
  content: "\eb5a";
}
.icon-icons8-swimming-pool-50:before {
  content: "\eb5b";
}
.icon-icons8-biometric-50:before {
  content: "\eb48";
}
.icon-icons8-elevator-50:before {
  content: "\eb49";
}
.icon-icons8-meeting-room-50-_1:before {
  content: "\eb4a";
}
.icon-icons8-meeting-room-50_1:before {
  content: "\eb4b";
}
.icon-icons8-stretcher-50_1:before {
  content: "\eb4c";
}
.icon-icons8-biometric-50-_1:before {
  content: "\eb4d";
}
.icon-icons8-lift-50:before {
  content: "\eb4e";
}
.icon-icons8-lift-50-_1:before {
  content: "\eb4f";
}
.icon-icons8-hair-brush-50:before {
  content: "\eb50";
}
.icon-icons8-manicure-50:before {
  content: "\eb51";
}
.icon-icons8-dancing-50:before {
  content: "\eb52";
}
.icon-icons8-dancing-50-_1:before {
  content: "\eb53";
}
.icon-icons8-barbeque-100:before {
  content: "\eb41";
}
.icon-icons8-dinner-100:before {
  content: "\eb42";
}
.icon-icons8-horizontal-line-50:before {
  content: "\eb43";
}
.icon-icons8-theater-100:before {
  content: "\eb44";
}
.icon-icons8-wi-fi-50-_1:before {
  content: "\eb45";
}
.icon-icons8-wi-fi-50:before {
  content: "\eb46";
}
.icon-icons8-temple-50:before {
  content: "\eb47";
}
.icon-icons8-airport-50:before {
  content: "\eb3f";
}
.icon-icons8-data-backup-50-_1:before {
  content: "\eb40";
}
.icon-icons8-airport-50-_1:before {
  content: "\eb0f";
}
.icon-icons8-bench-50:before {
  content: "\eb10";
}
.icon-icons8-bench-50-_1:before {
  content: "\eb11";
}
.icon-icons8-cafe-50:before {
  content: "\eb12";
}
.icon-icons8-cafe-50-_1:before {
  content: "\eb13";
}
.icon-icons8-cafe-50-_2:before {
  content: "\eb14";
}
.icon-icons8-cctv-camera-50:before {
  content: "\eb15";
}
.icon-icons8-cctv-camera-50-_1:before {
  content: "\eb16";
}
.icon-icons8-children-50:before {
  content: "\eb17";
}
.icon-icons8-children-50-_1:before {
  content: "\eb18";
}
.icon-icons8-cricket-50:before {
  content: "\eb19";
}
.icon-icons8-cricket-50-_1:before {
  content: "\eb1a";
}
.icon-icons8-cricket-50-_2:before {
  content: "\eb1b";
}
.icon-icons8-cricket-50-_3:before {
  content: "\eb1c";
}
.icon-icons8-cricket-50-_4:before {
  content: "\eb1d";
}
.icon-icons8-cricket-50-_5:before {
  content: "\eb1e";
}
.icon-icons8-electricity-50:before {
  content: "\eb1f";
}
.icon-icons8-fountain-50:before {
  content: "\eb20";
}
.icon-icons8-fountain-50-_1:before {
  content: "\eb21";
}
.icon-icons8-fountain-50-_2:before {
  content: "\eb22";
}
.icon-icons8-fountain-50-_3:before {
  content: "\eb23";
}
.icon-icons8-hall-50:before {
  content: "\eb24";
}
.icon-icons8-investment-portfolio-50:before {
  content: "\eb25";
}
.icon-icons8-netatmo-rain-module-50-_1:before {
  content: "\eb26";
}
.icon-icons8-railway-station-50:before {
  content: "\eb27";
}
.icon-icons8-reading-50:before {
  content: "\eb28";
}
.icon-icons8-reading-50-_1:before {
  content: "\eb29";
}
.icon-icons8-renewable-energy-50:before {
  content: "\eb2a";
}
.icon-icons8-right-arrow-50:before {
  content: "\eb2b";
}
.icon-icons8-right-arrow-50-_1:before {
  content: "\eb2c";
}
.icon-icons8-rollerblade-50:before {
  content: "\eb2d";
}
.icon-icons8-rollerblade-50-_1:before {
  content: "\eb2e";
}
.icon-icons8-rupee-50:before {
  content: "\eb2f";
}
.icon-icons8-school-building-50:before {
  content: "\eb30";
}
.icon-icons8-school-building-50-_1:before {
  content: "\eb31";
}
.icon-icons8-sculpture-50:before {
  content: "\eb32";
}
.icon-icons8-sculpture-50-_1:before {
  content: "\eb33";
}
.icon-icons8-slide-50:before {
  content: "\eb34";
}
.icon-icons8-slide-50-_1:before {
  content: "\eb35";
}
.icon-icons8-subway-50:before {
  content: "\eb36";
}
.icon-icons8-wall-mount-camera-50:before {
  content: "\eb37";
}
.icon-icons8-wall-mount-camera-50-_1:before {
  content: "\eb38";
}
.icon-icons8-wall-mount-camera-50-_2:before {
  content: "\eb39";
}
.icon-icons8-wall-mount-camera-100:before {
  content: "\eb3a";
}
.icon-icons8-water-glass-50:before {
  content: "\eb3b";
}
.icon-icons8-yoga-50:before {
  content: "\eb3c";
}
.icon-icons8-yoga-50-_1:before {
  content: "\eb3d";
}
.icon-icons8-yoga-50-_2:before {
  content: "\eb3e";
}
.icon-adobeacrobatreader:before {
  content: "\eb0e";
  color: #ee3f24;
}
.icon-gradle:before {
  content: "\ea6f";
}
.icon-gumtree:before {
  content: "\ea70";
  color: #72ef36;
}
.icon-facebook3:before {
  content: "\e9e7";
}
.icon-share1:before {
  content: "\e9e8";
}
.icon-bird:before {
  content: "\e9e9";
}
.icon-chat1:before {
  content: "\e9ea";
}
.icon-envelope2:before {
  content: "\e9eb";
}
.icon-phone3:before {
  content: "\e9ec";
}
.icon-phone4:before {
  content: "\e9ed";
}
.icon-phone5:before {
  content: "\e9ee";
}
.icon-mobile3:before {
  content: "\e9ef";
}
.icon-camera5:before {
  content: "\e9f0";
}
.icon-pictures:before {
  content: "\e9f1";
}
.icon-camera6:before {
  content: "\e9f2";
}
.icon-movie1:before {
  content: "\e9f3";
}
.icon-tv:before {
  content: "\e9f4";
}
.icon-camera7:before {
  content: "\e9f5";
}
.icon-volume:before {
  content: "\e9f6";
}
.icon-music1:before {
  content: "\e9f7";
}
.icon-headphone:before {
  content: "\e9f8";
}
.icon-gamepad1:before {
  content: "\e9f9";
}
.icon-earth1:before {
  content: "\e9fa";
}
.icon-globe1:before {
  content: "\e9fb";
}
.icon-search4:before {
  content: "\e9fc";
}
.icon-zoomout1:before {
  content: "\e9fd";
}
.icon-zoomin1:before {
  content: "\e9fe";
}
.icon-pin1:before {
  content: "\e9ff";
}
.icon-file1:before {
  content: "\ea00";
}
.icon-quote:before {
  content: "\ea01";
}
.icon-user2:before {
  content: "\ea02";
}
.icon-user3:before {
  content: "\ea03";
}
.icon-user4:before {
  content: "\ea04";
}
.icon-cart1:before {
  content: "\ea05";
}
.icon-gift2:before {
  content: "\ea06";
}
.icon-lamp:before {
  content: "\ea07";
}
.icon-settings:before {
  content: "\ea08";
}
.icon-unlocked:before {
  content: "\ea09";
}
.icon-key:before {
  content: "\ea0c";
}
.icon-food:before {
  content: "\ea0e";
}
.icon-drink:before {
  content: "\ea0f";
}
.icon-mug1:before {
  content: "\ea10";
}
.icon-cup:before {
  content: "\ea11";
}
.icon-drink1:before {
  content: "\ea12";
}
.icon-mug2:before {
  content: "\ea13";
}
.icon-lollipop:before {
  content: "\ea14";
}
.icon-scissors1:before {
  content: "\ea1d";
}
.icon-cloud6:before {
  content: "\ea1e";
}
.icon-lightning5:before {
  content: "\ea1f";
}
.icon-night:before {
  content: "\ea20";
}
.icon-sunny:before {
  content: "\ea21";
}
.icon-droplet:before {
  content: "\ea22";
}
.icon-umbrella1:before {
  content: "\ea23";
}
.icon-truck1:before {
  content: "\ea24";
}
.icon-car1:before {
  content: "\ea25";
}
.icon-gaspump:before {
  content: "\ea26";
}
.icon-factory:before {
  content: "\ea27";
}
.icon-tree2:before {
  content: "\ea28";
}
.icon-leaf3:before {
  content: "\ea29";
}
.icon-flower:before {
  content: "\ea2a";
}
.icon-direction:before {
  content: "\ea2b";
}
.icon-arrow-up3:before {
  content: "\ea2c";
}
.icon-arrow-down3:before {
  content: "\ea2d";
}
.icon-arrow-left3:before {
  content: "\ea2e";
}
.icon-arrow-right3:before {
  content: "\ea2f";
}
.icon-arrow-top-right:before {
  content: "\ea30";
}
.icon-arrow-top-left:before {
  content: "\ea31";
}
.icon-arrow-bottom-right:before {
  content: "\ea33";
}
.icon-arrow-bottom-left:before {
  content: "\ea35";
}
.icon-mobile4:before {
  content: "\e000";
}
.icon-document:before {
  content: "\e005";
}
.icon-search5:before {
  content: "\e007";
}
.icon-browser:before {
  content: "\e00c";
}
.icon-calendar1:before {
  content: "\e00d";
}
.icon-pictures1:before {
  content: "\e010";
}
.icon-video:before {
  content: "\e011";
}
.icon-camera8:before {
  content: "\e012";
}
.icon-wallet:before {
  content: "\e016";
}
.icon-gift3:before {
  content: "\e017";
}
.icon-bargraph:before {
  content: "\e018";
}
.icon-edit:before {
  content: "\e01c";
}
.icon-hourglass:before {
  content: "\e01f";
}
.icon-megaphone:before {
  content: "\e021";
}
.icon-map2:before {
  content: "\e025";
}
.icon-basket:before {
  content: "\e027";
}
.icon-envelope3:before {
  content: "\e028";
}
.icon-streetsign:before {
  content: "\e029";
}
.icon-attachment:before {
  content: "\e02e";
}
.icon-pricetags:before {
  content: "\e02f";
}
.icon-lightbulb:before {
  content: "\e030";
}
.icon-pencil:before {
  content: "\e032";
}
.icon-tools:before {
  content: "\e033";
}
.icon-scissors2:before {
  content: "\e035";
}
.icon-paintbrush:before {
  content: "\e036";
}
.icon-magnifying-glass:before {
  content: "\e037";
}
.icon-strategy:before {
  content: "\e03b";
}
.icon-recycle:before {
  content: "\e03e";
}
.icon-profile-male:before {
  content: "\e040";
}
.icon-profile-female:before {
  content: "\e041";
}
.icon-bike:before {
  content: "\e042";
}
.icon-wine:before {
  content: "\e043";
}
.icon-hotairballoon:before {
  content: "\e044";
}
.icon-globe2:before {
  content: "\e045";
}
.icon-map-pin:before {
  content: "\e047";
}
.icon-chat2:before {
  content: "\e049";
}
.icon-hazardous:before {
  content: "\e04f";
}
.icon-global:before {
  content: "\e052";
}
.icon-facebook4:before {
  content: "\e05d";
}
.icon-twitter2:before {
  content: "\e05e";
}
.icon-googleplus:before {
  content: "\e05f";
}
.icon-linkedin1:before {
  content: "\e062";
}
.icon-dribbble3:before {
  content: "\e063";
}
.icon-video1:before {
  content: "\ea37";
}
.icon-search6:before {
  content: "\ea39";
}
.icon-camera9:before {
  content: "\ea3b";
}
.icon-location3:before {
  content: "\ea3d";
}
.icon-bubble3:before {
  content: "\ea3f";
}
.icon-mail1:before {
  content: "\ea45";
}
.icon-photo1:before {
  content: "\ea46";
}
.icon-note:before {
  content: "\ea47";
}
.icon-paperplane:before {
  content: "\ea48";
}
.icon-music2:before {
  content: "\ea49";
}
.icon-shop:before {
  content: "\ea4a";
}
.icon-truck2:before {
  content: "\ea4b";
}
.icon-world:before {
  content: "\ea4c";
}
.icon-mail-envelope-closed:before {
  content: "\eaa3";
}
.icon-flag1:before {
  content: "\eaa4";
}
.icon-flag2:before {
  content: "\eaa5";
}
.icon-search7:before {
  content: "\eaa6";
}
.icon-search8:before {
  content: "\eaa8";
}
.icon-basketball:before {
  content: "\eaa9";
}
.icon-basketball1:before {
  content: "\eaaa";
}
.icon-tennis-ball:before {
  content: "\ea4d";
}
.icon-tennis-ball1:before {
  content: "\ea4e";
}
.icon-soccer-ball:before {
  content: "\eaab";
}
.icon-soccer-ball1:before {
  content: "\eaac";
}
.icon-soccer-court:before {
  content: "\eaad";
}
.icon-soccer-court1:before {
  content: "\eaae";
}
.icon-football:before {
  content: "\eaaf";
}
.icon-football1:before {
  content: "\eab0";
}
.icon-basketball2:before {
  content: "\eab1";
}
.icon-basketball3:before {
  content: "\eab2";
}
.icon-baseball-set:before {
  content: "\eab3";
}
.icon-baseball-set1:before {
  content: "\eab4";
}
.icon-tennis-ball2:before {
  content: "\ea4f";
}
.icon-tennis-ball3:before {
  content: "\ea50";
}
.icon-weights:before {
  content: "\eab5";
}
.icon-weights1:before {
  content: "\eab6";
}
.icon-tennis-racket:before {
  content: "\ea51";
}
.icon-tennis-racket1:before {
  content: "\ea52";
}
.icon-basketball-hoop:before {
  content: "\eab7";
}
.icon-basketball-hoop1:before {
  content: "\eab8";
}
.icon-table-tennis:before {
  content: "\ea53";
}
.icon-table-tennis1:before {
  content: "\ea54";
}
.icon-hockey-stick:before {
  content: "\eab9";
}
.icon-hockey-stick1:before {
  content: "\eaba";
}
.icon-shuttlecock:before {
  content: "\eabb";
}
.icon-shuttlecock1:before {
  content: "\eabc";
}
.icon-golf:before {
  content: "\ea55";
}
.icon-golf1:before {
  content: "\ea56";
}
.icon-bowling-pins:before {
  content: "\eabd";
}
.icon-bowling-pins1:before {
  content: "\eabe";
}
.icon-ice-skate:before {
  content: "\eabf";
}
.icon-ice-skate1:before {
  content: "\eac0";
}
.icon-cloud7:before {
  content: "\eac1";
}
.icon-cloud8:before {
  content: "\eac2";
}
.icon-cloud-sun:before {
  content: "\eac3";
}
.icon-cloud-sun1:before {
  content: "\eac4";
}
.icon-cloud-moon:before {
  content: "\eac5";
}
.icon-cloud-moon1:before {
  content: "\eac6";
}
.icon-cloud-sun-rain:before {
  content: "\eac7";
}
.icon-cloud-sun-rain1:before {
  content: "\eac8";
}
.icon-sun3:before {
  content: "\eac9";
}
.icon-sun4:before {
  content: "\eaca";
}
.icon-rainbow:before {
  content: "\eacb";
}
.icon-rainbow1:before {
  content: "\eacc";
}
.icon-umbrella2:before {
  content: "\eacd";
}
.icon-umbrella3:before {
  content: "\eace";
}
.icon-file-pdf1:before {
  content: "\eacf";
}
.icon-document-file-pdf:before {
  content: "\ead0";
}
.icon-document-file-pdf1:before {
  content: "\ead1";
}
.icon-tablet:before {
  content: "\ead2";
}
.icon-window:before {
  content: "\ead3";
}
.icon-monitor:before {
  content: "\ead4";
}
.icon-ipod:before {
  content: "\ead5";
}
.icon-tv1:before {
  content: "\ead6";
}
.icon-camera11:before {
  content: "\ead7";
}
.icon-camera12:before {
  content: "\ead8";
}
.icon-film2:before {
  content: "\ead9";
}
.icon-microphone:before {
  content: "\eada";
}
.icon-microphone1:before {
  content: "\eadb";
}
.icon-drink2:before {
  content: "\eadc";
}
.icon-drink3:before {
  content: "\eadd";
}
.icon-drink4:before {
  content: "\eade";
}
.icon-drink5:before {
  content: "\eae0";
}
.icon-coffee3:before {
  content: "\ea57";
}
.icon-mug3:before {
  content: "\eae1";
}
.icon-icecream:before {
  content: "\eae2";
}
.icon-cake1:before {
  content: "\eae3";
}
.icon-checkmark1:before {
  content: "\eae4";
}
.icon-checkmark2:before {
  content: "\eae5";
}
.icon-cancel2:before {
  content: "\eae6";
}
.icon-cancel3:before {
  content: "\eae7";
}
.icon-health:before {
  content: "\eae8";
}
.icon-suitcase:before {
  content: "\eae9";
}
.icon-headphones2:before {
  content: "\eaea";
}
.icon-wallet1:before {
  content: "\eaeb";
}
.icon-location5:before {
  content: "\eaec";
}
.icon-gamepad2:before {
  content: "\eaed";
}
.icon-phone6:before {
  content: "\ea58";
}
.icon-sale:before {
  content: "\eaee";
}
.icon-direction1:before {
  content: "\eaef";
}
.icon-map3:before {
  content: "\eaf0";
}
.icon-football2:before {
  content: "\eaf1";
}
.icon-bowling:before {
  content: "\eaf2";
}
.icon-bowlingpin:before {
  content: "\eaf3";
}
.icon-baseball:before {
  content: "\eaf4";
}
.icon-soccer:before {
  content: "\eaf5";
}
.icon-microwave:before {
  content: "\eaf6";
}
.icon-magnifier:before {
  content: "\eaf7";
}
.icon-archive:before {
  content: "\eaf8";
}
.icon-chat3:before {
  content: "\eaf9";
}
.icon-comments2:before {
  content: "\eafa";
}
.icon-library1:before {
  content: "\eafb";
}
.icon-hourglass1:before {
  content: "\eafc";
}
.icon-pencil1:before {
  content: "\eafd";
}
.icon-rotate:before {
  content: "\eafe";
}
.icon-rotate1:before {
  content: "\eaff";
}
.icon-reply1:before {
  content: "\eb00";
}
.icon-forward3:before {
  content: "\eb01";
}
.icon-cloudy4:before {
  content: "\eb02";
}
.icon-car2:before {
  content: "\eb03";
}
.icon-bike1:before {
  content: "\eb04";
}
.icon-truck4:before {
  content: "\eb05";
}
.icon-bus:before {
  content: "\eb06";
}
.icon-bike2:before {
  content: "\eb07";
}
.icon-plane1:before {
  content: "\eb08";
}
.icon-paperplane1:before {
  content: "\eb09";
}
.icon-ticket:before {
  content: "\ea59";
}
.icon-ticket1:before {
  content: "\ea5a";
}
.icon-ticket2:before {
  content: "\ea5b";
}
.icon-fast_forward:before {
  content: "\e904";
}
.icon-fast_rewind:before {
  content: "\e905";
}
.icon-movie:before {
  content: "\e906";
}
.icon-play_arrow:before {
  content: "\e907";
}
.icon-play_circle_filled:before {
  content: "\e908";
}
.icon-play_circle_outline:before {
  content: "\e909";
}
.icon-playlist_add:before {
  content: "\e90a";
}
.icon-video_library:before {
  content: "\e90b";
}
.icon-music_video:before {
  content: "\e90c";
}
.icon-missed_video_call:before {
  content: "\e90d";
}
.icon-vpn_key:before {
  content: "\e90e";
}
.icon-brightness_high:before {
  content: "\e90f";
}
.icon-brightness_low:before {
  content: "\e910";
}
.icon-brightness_medium:before {
  content: "\e911";
}
.icon-toys:before {
  content: "\e913";
}
.icon-brightness_2:before {
  content: "\e914";
}
.icon-brightness_3:before {
  content: "\e915";
}
.icon-brightness_4:before {
  content: "\e916";
}
.icon-filter_hdr:before {
  content: "\e917";
}
.icon-filter_vintage:before {
  content: "\e918";
}
.icon-flare:before {
  content: "\e919";
}
.icon-panorama:before {
  content: "\e91a";
}
.icon-switch_video:before {
  content: "\e91b";
}
.icon-wb_sunny:before {
  content: "\e91c";
}
.icon-movie_filter:before {
  content: "\e91d";
}
.icon-directions:before {
  content: "\e91e";
}
.icon-directions_bike:before {
  content: "\e91f";
}
.icon-directions_car:before {
  content: "\e920";
}
.icon-directions_subway:before {
  content: "\e922";
}
.icon-directions_walk:before {
  content: "\e923";
}
.icon-local_bar:before {
  content: "\e924";
}
.icon-local_cafe:before {
  content: "\e925";
}
.icon-local_florist:before {
  content: "\e926";
}
.icon-local_grocery_store:before {
  content: "\e927";
}
.icon-local_restaurant:before {
  content: "\e928";
}
.icon-local_taxi:before {
  content: "\e929";
}
.icon-location_history:before {
  content: "\e92a";
}
.icon-pin_drop:before {
  content: "\e92b";
}
.icon-directions_run:before {
  content: "\e92c";
}
.icon-restaurant:before {
  content: "\e92d";
}
.icon-cancel:before {
  content: "\e92e";
}
.icon-check1:before {
  content: "\e92f";
}
.icon-drive_eta:before {
  content: "\e930";
}
.icon-phone_forwarded:before {
  content: "\e931";
}
.icon-phone_in_talk:before {
  content: "\e932";
}
.icon-tap_and_play:before {
  content: "\e933";
}
.icon-personal_video:before {
  content: "\e934";
}
.icon-wc:before {
  content: "\e935";
}
.icon-cake:before {
  content: "\e936";
}
.icon-location_city:before {
  content: "\e937";
}
.icon-party_mode:before {
  content: "\e938";
}
.icon-public:before {
  content: "\e939";
}
.icon-3d_rotation:before {
  content: "\e93a";
}
.icon-account_balance:before {
  content: "\e93b";
}
.icon-account_circle:before {
  content: "\e93c";
}
.icon-add_shopping_cart:before {
  content: "\e93d";
}
.icon-delete:before {
  content: "\e93e";
}
.icon-face:before {
  content: "\e93f";
}
.icon-home4:before {
  content: "\e940";
}
.icon-play_for_work:before {
  content: "\e944";
}
.icon-add_ic_call:before {
  content: "\e946";
}
.icon-mark_as_unread:before {
  content: "\e94a";
}
.icon-phone_enabled:before {
  content: "\e94b";
}
.icon-replay_circle_filled:before {
  content: "\e94c";
}
.icon-home_work:before {
  content: "\e94d";
}
.icon-sports_golf:before {
  content: "\e94e";
}
.icon-sports_tennis:before {
  content: "\e94f";
}
.icon-eco:before {
  content: "\e950";
}
.icon-museum:before {
  content: "\e951";
}
.icon-bathtub:before {
  content: "\e952";
}
.icon-deck:before {
  content: "\e953";
}
.icon-sports_baseball:before {
  content: "\e954";
}
.icon-theater_comedy:before {
  content: "\e955";
}
.icon-festival:before {
  content: "\e956";
}
.icon-child_care:before {
  content: "\e957";
}
.icon-fitness_center:before {
  content: "\e95a";
}
.icon-golf_course:before {
  content: "\e95b";
}
.icon-hot_tub:before {
  content: "\e95c";
}
.icon-pool:before {
  content: "\e95d";
}
.icon-grass:before {
  content: "\e95e";
}
.icon-local_fire_department:before {
  content: "\e95f";
}
.icon-location_pin:before {
  content: "\e961";
}
.icon-night_shelter:before {
  content: "\e962";
}
.icon-pedal_bike:before {
  content: "\e963";
}
.icon-person_add_alt_1:before {
  content: "\e964";
}
.icon-self_improvement:before {
  content: "\e969";
}
.icon-south:before {
  content: "\e96a";
}
.icon-support_agent:before {
  content: "\e96c";
}
.icon-tapas:before {
  content: "\e96d";
}
.icon-wine_bar:before {
  content: "\e96f";
}
.icon-elderly:before {
  content: "\e970";
}
.icon-follow_the_signs:before {
  content: "\e972";
}
.icon-chat:before {
  content: "\e973";
}
.icon-home5:before {
  content: "\e974";
}
.icon-phone2:before {
  content: "\e975";
}
.icon-camera1:before {
  content: "\e976";
}
.icon-mapmarker:before {
  content: "\e977";
}
.icon-map1:before {
  content: "\e978";
}
.icon-barbell:before {
  content: "\e979";
}
.icon-th-menu:before {
  content: "\ea6d";
}
.icon-home10:before {
  content: "\ea6e";
}
.icon-location4:before {
  content: "\ea71";
}
.icon-chart-pie:before {
  content: "\ea72";
}
.icon-download1:before {
  content: "\ea73";
}
.icon-phone8:before {
  content: "\ea74";
}
.icon-social-twitter:before {
  content: "\ea75";
}
.icon-social-facebook:before {
  content: "\ea76";
}
.icon-home-outline:before {
  content: "\e97a";
}
.icon-phone-outline:before {
  content: "\ea7d";
}
.icon-tree1:before {
  content: "\e97b";
}
.icon-leaf2:before {
  content: "\e97c";
}
.icon-feather1:before {
  content: "\ea7e";
}
.icon-coffee1:before {
  content: "\e97d";
}
.icon-facebook6:before {
  content: "\ea81";
}
.icon-file-text:before {
  content: "\ea85";
}
.icon-linkedin3:before {
  content: "\ea87";
}
.icon-mic-off:before {
  content: "\e97e";
}
.icon-music3:before {
  content: "\ea8e";
}
.icon-phone9:before {
  content: "\ea97";
}
.icon-pie-chart1:before {
  content: "\ea98";
}
.icon-send1:before {
  content: "\ea99";
}
.icon-share3:before {
  content: "\ea9a";
}
.icon-share-2:before {
  content: "\ea9d";
}
.icon-truck3:before {
  content: "\ea9f";
}
.icon-twitter4:before {
  content: "\eaa0";
}
.icon-upload:before {
  content: "\eaa1";
}
.icon-leaf4:before {
  content: "\ea5c";
}
.icon-paper-plane1:before {
  content: "\ea5d";
}
.icon-phone7:before {
  content: "\ea5e";
}
.icon-pie-chart:before {
  content: "\ea5f";
}
.icon-tree3:before {
  content: "\ea60";
}
.icon-dribbble4:before {
  content: "\ea61";
}
.icon-facebook-with-circle:before {
  content: "\ea62";
}
.icon-facebook5:before {
  content: "\ea63";
}
.icon-linkedin-with-circle:before {
  content: "\ea64";
}
.icon-linkedin2:before {
  content: "\ea65";
}
.icon-pinterest-with-circle:before {
  content: "\ea66";
}
.icon-pinterest1:before {
  content: "\ea67";
}
.icon-twitter-with-circle:before {
  content: "\ea68";
}
.icon-twitter3:before {
  content: "\ea69";
}
.icon-youtube-with-circle:before {
  content: "\ea6a";
}
.icon-youtube1:before {
  content: "\ea6b";
}
.icon-chart-pie1:before {
  content: "\eb0a";
}
.icon-coffee4:before {
  content: "\eb0b";
}
.icon-download2:before {
  content: "\eb0c";
}
.icon-headphones3:before {
  content: "\eb0d";
}
.icon-travel-walk:before {
  content: "\ea6c";
}
.icon-search3:before {
  content: "\e9df";
}
.icon-envelope1:before {
  content: "\e9e0";
}
.icon-bubble1:before {
  content: "\e9e1";
}
.icon-image1:before {
  content: "\e9e2";
}
.icon-video-camera1:before {
  content: "\e9e3";
}
.icon-cart:before {
  content: "\e9e4";
}
.icon-film1:before {
  content: "\e9e5";
}
.icon-home9:before {
  content: "\e9e6";
}
.icon-cloud:before {
  content: "\e97f";
}
.icon-chart:before {
  content: "\e980";
}
.icon-file:before {
  content: "\e981";
}
.icon-picture:before {
  content: "\e982";
}
.icon-camera2:before {
  content: "\e983";
}
.icon-search1:before {
  content: "\e984";
}
.icon-dribbble1:before {
  content: "\e985";
}
.icon-play1:before {
  content: "\e986";
}
.icon-pause1:before {
  content: "\e987";
}
.icon-home6:before {
  content: "\e988";
}
.icon-earth:before {
  content: "\e989";
}
.icon-location1:before {
  content: "\e98a";
}
.icon-headphones1:before {
  content: "\e98b";
}
.icon-checkmark:before {
  content: "\e98c";
}
.icon-cancel1:before {
  content: "\e98d";
}
.icon-gift1:before {
  content: "\e98e";
}
.icon-coffee2:before {
  content: "\e98f";
}
.icon-compass1:before {
  content: "\e990";
}
.icon-forward:before {
  content: "\e991";
}
.icon-camera3:before {
  content: "\e992";
}
.icon-sunrise:before {
  content: "\e993";
}
.icon-sun:before {
  content: "\e994";
}
.icon-moon:before {
  content: "\e995";
}
.icon-sun1:before {
  content: "\e996";
}
.icon-snowflake:before {
  content: "\e997";
}
.icon-cloudy:before {
  content: "\e998";
}
.icon-cloud1:before {
  content: "\e999";
}
.icon-weather:before {
  content: "\e99a";
}
.icon-weather1:before {
  content: "\e99b";
}
.icon-weather2:before {
  content: "\e99c";
}
.icon-lines:before {
  content: "\e99d";
}
.icon-cloud2:before {
  content: "\e99e";
}
.icon-lightning:before {
  content: "\e99f";
}
.icon-lightning1:before {
  content: "\e9a5";
}
.icon-rainy:before {
  content: "\e9a6";
}
.icon-rainy1:before {
  content: "\e9a7";
}
.icon-windy:before {
  content: "\e9a8";
}
.icon-windy1:before {
  content: "\e9a9";
}
.icon-snowy:before {
  content: "\e9aa";
}
.icon-snowy1:before {
  content: "\e9ab";
}
.icon-snowy2:before {
  content: "\e9ac";
}
.icon-weather3:before {
  content: "\e9ad";
}
.icon-cloudy1:before {
  content: "\e9ae";
}
.icon-cloud3:before {
  content: "\e9af";
}
.icon-lightning2:before {
  content: "\e9b0";
}
.icon-sun2:before {
  content: "\e9b1";
}
.icon-moon1:before {
  content: "\e9b2";
}
.icon-cloudy2:before {
  content: "\e9b3";
}
.icon-cloud4:before {
  content: "\e9b4";
}
.icon-cloud5:before {
  content: "\e9b5";
}
.icon-lightning3:before {
  content: "\e9b6";
}
.icon-rainy2:before {
  content: "\e9b7";
}
.icon-rainy3:before {
  content: "\e9b8";
}
.icon-windy2:before {
  content: "\e9b9";
}
.icon-windy3:before {
  content: "\e9ba";
}
.icon-snowy3:before {
  content: "\e9bb";
}
.icon-snowy4:before {
  content: "\e9bc";
}
.icon-weather4:before {
  content: "\e9bd";
}
.icon-cloudy3:before {
  content: "\e9be";
}
.icon-lightning4:before {
  content: "\e9bf";
}
.icon-compass2:before {
  content: "\e9c0";
}
.icon-Celsius:before {
  content: "\e9c1";
}
.icon-Fahrenheit:before {
  content: "\e9c2";
}
.icon-out:before {
  content: "\e9c3";
}
.icon-in:before {
  content: "\e9c4";
}
.icon-in-alt:before {
  content: "\e9c5";
}
.icon-home7:before {
  content: "\e9c6";
}
.icon-feather:before {
  content: "\e9c7";
}
.icon-expand:before {
  content: "\e9c8";
}
.icon-maximize:before {
  content: "\e9ca";
}
.icon-search2:before {
  content: "\e9cb";
}
.icon-zoomin:before {
  content: "\e9cc";
}
.icon-zoomout:before {
  content: "\e9cd";
}
.icon-add:before {
  content: "\e9ce";
}
.icon-subtract:before {
  content: "\e9cf";
}
.icon-forward1:before {
  content: "\e9d0";
}
.icon-rewind:before {
  content: "\e9d1";
}
.icon-clock:before {
  content: "\e9d2";
}
.icon-comments1:before {
  content: "\e9d3";
}
.icon-forkandspoon:before {
  content: "\e9d4";
}
.icon-forkandknife:before {
  content: "\e9d5";
}
.icon-dribbble2:before {
  content: "\e9d6";
}
.icon-pin:before {
  content: "\e9d7";
}
.icon-pin-alt:before {
  content: "\e9d8";
}
.icon-camera4:before {
  content: "\e9d9";
}
.icon-brightness:before {
  content: "\e9da";
}
.icon-brightness-half:before {
  content: "\e9db";
}
.icon-moon2:before {
  content: "\e9dc";
}
.icon-add1:before {
  content: "\e9dd";
}
.icon-home8:before {
  content: "\e9de";
}
.icon-camera10:before {
  content: "\eaa2";
}
.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-office:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e912";
}
.icon-library:before {
  content: "\e921";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-download:before {
  content: "\e960";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-glass:before {
  content: "\e9a0";
}
.icon-glass2:before {
  content: "\e9a1";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-previous:before {
  content: "\ea18";
}
.icon-next:before {
  content: "\ea19";
}
.icon-backward:before {
  content: "\ea1a";
}
.icon-forward2:before {
  content: "\ea1b";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-indent-increase:before {
  content: "\ea7b";
}
.icon-indent-decrease:before {
  content: "\ea7c";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-plus1:before {
  content: "\f067";
}
.icon-glass1:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-user1:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home1:before {
  content: "\f015";
}
.icon-file-o:before {
  content: "\f016";
}
.icon-road:before {
  content: "\f018";
}
.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-camera:before {
  content: "\f030";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-dedent:before {
  content: "\f03b";
}
.icon-outdent:before {
  content: "\f03b";
}
.icon-indent:before {
  content: "\f03c";
}
.icon-video-camera:before {
  content: "\f03d";
}
.icon-image:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-tint:before {
  content: "\f043";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-arrow-left1:before {
  content: "\f060";
}
.icon-arrow-right1:before {
  content: "\f061";
}
.icon-arrow-up1:before {
  content: "\f062";
}
.icon-arrow-down1:before {
  content: "\f063";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf1:before {
  content: "\f06c";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-comments:before {
  content: "\f086";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-phone1:before {
  content: "\f095";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter1:before {
  content: "\f099";
}
.icon-facebook1:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-scissors:before {
  content: "\f0c4";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-google-plus-square:before {
  content: "\f0d4";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-asc:before {
  content: "\f0de";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-hospital-o:before {
  content: "\f0f8";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-plus-square:before {
  content: "\f0fe";
}
.icon-mobile1:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply:before {
  content: "\f112";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-share-square:before {
  content: "\f14d";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-instagram1:before {
  content: "\f16d";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-sun-o:before {
  content: "\f185";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.icon-arrow-circle-o-left:before {
  content: "\f190";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-fax:before {
  content: "\f1ac";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-tree:before {
  content: "\f1bb";
}
.icon-file-pdf-o:before {
  content: "\f1c1";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-cart-plus:before {
  content: "\f217";
}
.icon-cart-arrow-down:before {
  content: "\f218";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-whatsapp1:before {
  content: "\f232";
}
.icon-map-signs:before {
  content: "\f277";
}
.icon-map-o:before {
  content: "\f278";
}
.icon-map:before {
  content: "\f279";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-shopping-bag:before {
  content: "\f290";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-envira:before {
  content: "\f299";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}