@font-face {
    font-family: "BebasNeue-Regular";
    font-display: swap;
    src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "LibreBaskerville-Bold";
    font-display: swap;
    src: url("../fonts/LibreBaskerville-Bold.ttf");
}

@font-face {
    font-family: "Inter-Regular";
    font-display: swap;
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter-Bold";
    font-display: swap;
    src: url("../fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: "Inter-Medium";
    font-display: swap;
    src: url("../fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: "KumarOneOutline-Regular";
    font-display: swap;
    src: url("../fonts/KumarOneOutline-Regular.ttf");
}

@font-face {
    font-family: "Poppins-ExtraBold";
    font-display: swap;
    src: url("../fonts/Poppins-ExtraBold.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

:root {
    --yellow: #d57526;
    --green: #07332F;
}



.builder .left {
    background-color: #f7f7f7;
    padding: 20px 50px;
}

.builder .left h3 {
    font-family: "BebasNeue-Regular";
    font-size: 36px;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 0px;
}

.builder .left h4 {
    font-family: "BebasNeue-Regular";
    font-size: 30px;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 0px;
}


.builder .left p {
    display: grid;
    align-items: center;
    font-family: "Inter-Medium";
    line-height: 26px;
    font-size: 16px;
    color: #222;
    padding-top: 10px;
}

.builder .builder-sec {
    display: flex;
}

.builder .builder-sec .left {
    width: 100%;
    display: grid;
    align-items: center;
}

.builder .builder-sec .right {
    width: 35%;
    margin-left: 0%;
}

.builder .form {
    border: 1px solid #ccc;
}

.builder .form .inner-box {
    padding: 45px 50px;
}

.builder .right .form h6 {
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 30px;
}

.builder .right .form h6:before {
    content: "";
    width: 50px;
    height: 4px;
    bottom: -50px;
    left: 0;
    background-color: var(--yellow);
    position: absolute;
}



.footer {
    background-color: #111;
    padding: 25px 0px;
}

.footer p {
    color: #ccc;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px;
    font-family: "Inter-Regular";
    line-height: 16px;
    letter-spacing: 0.1px;
}

.footer p span {
    font-family: "Inter-Medium";
}

.footer p a {
    color: #ccc;
}



@media(max-width: 1500px) {
    
    .builder .left p {
        line-height: 24px;
        font-size: 15px;
        padding-top: 0px;
    }

    .builder {
        padding: 65px 75px;
    }

    .builder {
        padding: 30px 30px;
        margin-top: 0%;
    }
}

.footer p{
    color: #ccc;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px;
    font-family: "Inter-Regular";
    line-height: 16px;
    letter-spacing: 0.1px;
}

.footer {
    background-color: #A54F08 !important;
}

.footer .row {
    flex-wrap: nowrap;
}

.footer h2 {
    color: #fff;
}

.footer .footer-1 {
    margin: 10px;
    border-right: 1px solid #fff;
}

.footer .homesfy-logo {
    margin-bottom: 10px;
}

.footer .homesfy-logo img {
    margin-bottom: 10px;
}

.footer .homesfy-logo p {
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    text-align: left;
}

.footer .terms ul {
    color: #FFF;
    list-style-type: none;
    padding: 0 24px 0 0;
    display: flex;
	/* margin: 0 80px; */
    justify-content: center;
}

.footer .terms ul a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
	padding: 8px;
}

.footer .social-media .social-btn {
    display: flex;
    justify-content: left;
}

.footer .social-media .social-btn a {
    padding: 10px;
    cursor: pointer;
}

.footer .social-media .social-btn .social-logo-icon {
    width: 32px;
}

.footer .footer-1 .home-heading {
    display: flex;
    flex-direction: row;
    color: #FFF;
}

.footer .footer-1 .home-heading .home-icon {
    height: 18px;
    width: 18px;
}

.footer .footer-1 .home-heading .home-text {
    font-size: 18px;
    margin-left: 8px;
    font-weight: bold;
}

.footer .footer-1 .location-list ul {
    list-style-type: none;
    padding-left: 0px;
}

.footer .footer-1 .location-list ul h4 {
    color: #fff;
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: bold;
}

.footer .footer-1 .location-list ul p {
    color: #fff;
    font-size: 10px;
    text-align: left;
    margin-bottom: 10px;
    letter-spacing: 0.1px;
    line-height: 16px;
}

.footer .footer-1 .contact-det {
    flex-wrap: nowrap;
}

.footer .footer-1 .contact-det .phone-det {
    color: #fff !important;
    border-right: 1px solid #fff;
    margin-right: -6px;
}

.footer .footer-1 .contact-det .phone-det h4,
.footer .footer-1 .contact-det .phone-det h5 {
    font-size: 16px;
    font-weight: 600;
}

.footer .footer-1 .contact-det .phone-det .footer-head {
    display: flex;
}

.footer .footer-1 .contact-det .phone-det .footer-head .contact-icon {
    width: 20px;
    margin: 0px 10px 10px 10px;
}

.footer .footer-1 .contact-det .email-det {
    color: #fff;
}

.footer .footer-1 .contact-det .email-det h4,
.footer .footer-1 .contact-det .email-det h5 {
    font-size: 16px;
    font-weight: 600;
}

.footer .footer-1 .contact-det .email-det .footer-head {
    display: flex;
}

.footer .footer-1 .contact-det .email-det .footer-head .contact-icon {
    width: 20px;
    margin: 0px 10px 10px 10px;
}

.rera-cert .rera-head h2 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rera-cert h4 {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rera-cert .rera-img {
    margin: 32px;
}

.rera-cert .rera-img img {
    width: 100%;
    height: 190px;
}

.container .disclaimer {
    text-align: left;
    color: #fff;
    font-size: 12px;
}

@media (max-width: 992px) {
    .footer {
        margin-bottom: 0px;
    }

    .footer .row {
        flex-wrap: wrap;
    }

    .footer .footer-1 {
        border-right: none;
    }

    .rera-cert .rera-img {
        margin: 32px;
    }
}




.th-top-bar {
    text-align: center;
}

.th-top-bar .th-Logo img {
    height: 70px;
}

.thanks-page {
    background-image: linear-gradient(rgba(239, 239, 239, 0.1), rgba(251, 197, 24, 0.62)), url(/images/banner/banner_1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 70px);
}

.thanks-page .thankyou-container {
    background: rgba(51, 51, 51, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.thanks-page .helpful-content,
.thanks-page .thankyou-container strong,
.thanks-page .video-play {
    width: 100%;
}

.thanks-page .th-main-section {
    max-width: 690px;
    margin: auto;
}

.thanks-page .th-main-section .ty-cont {
    background: #fff;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.thanks-page .th-main-section .ty-cont h2 {
    margin-bottom: 5px;
    color: #0ebb2c;
    padding: 10px 0;
    text-align: center;
}

.thanks-page .th-main-section .ty-cont strong {
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
    color: #222;
}

.thanks-page .th-main-section .helpful-content {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.61);
    padding: 30px 10px;
    text-align: center;
}

.thanks-page .th-main-section .helpful-content .helping,
.thanks-page .th-main-section .helpful-content .social-icons {
    margin-bottom: 20px;
}

.thanks-page .th-main-section .help-item .btn-primary {
    margin-bottom: 5px;
    vertical-align: top;
    background: #0d6efd;
    border-color: #0d6efd;
    padding: 0.375rem 0.75rem;
}

.thanks-page .th-main-section .help-item .btn-success {
    background: #42ea5f;
    border-color: #28a745;
}

.thanks-page .th-main-section .help-item img {
    width: 25px;
}

.thanks-page .th-main-section .help-item .phone_no {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.thanks-page .th-main-section .back_link h3 a {
    padding: 10px 20px;
    text-align: center;
    display: table;
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
    border: 1px solid #fff;
    font-size: 18px;
}

.thanks-page .th-main-section .loan-img {
    text-align: center;
}

.thanks-page .th-main-section .loan-img img {
    display: inline-block;
    width: 100px;
    margin: 20px 0;
    color: #fff;
}

.thanks-page .th-main-section .loan-img a {
    font-size: 14px;
    max-width: 100%;
    vertical-align: middle;
    margin: 20px 0;
    border: 1px solid #fff;
    color: #fff f;
    padding: 10px;
    text-decoration: none;
}

@media (max-width: 992px) {
    .navbar .nav-logo-desk {
        display: none;
    }

    .navbar .nav-logo-mob {
        width: 160px;
    }
}