.overview {
    .highlight {
        .hl-card {
            background-image: none;
            height: auto;
            text-align: left;
            border: transparent;
            background-color: $primary-color;
            color: $white;
        }
    }
}

@media(max-width:768px) {
    .overview {
        .highlight {
            .hl-card {
                ul {
                    padding-left: 20px;

                    li {
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .banner-box {
        .offer-banner {
            margin-top: 20px;
        }
    }
}