.footer-section{
    background-color: #f0f2f3;
    hr {
    border: 1px;
    border-top: 1px solid #6c757d;
    }
}

.thankyou-section{
    background-image: url("../img/banner/banner.webp");
    width: 100%;
    height: 100vh;
}
.form-border-bottom{
    padding: 1rem 0 1rem 0;
}