.faq{
    .accordion-item {
        background-color: #fff;
        border: 1px solid rgba(178,53,103,0.32);
        margin-bottom: 20px;
        .accordion-header{
            background-color: #fff;
            box-shadow: none;
            border-radius: 5px;
            button{
                color: #fccb00;
                background: #fff;
                border-radius: 5px;
            }
            .accordion-button:focus {
                z-index: 3;
                border-color: transparent;
                outline: 0;
                box-shadow: none;
            }
            .accordion-button::after {
                background-image: url('../img/icons/icons8-collapse-arrow-20.png');
            }
        }
    }
}