@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xf4lcs');
  src:  url('../fonts/icomoon.eot?xf4lcs#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xf4lcs') format('truetype'),
    url('../fonts/icomoon.woff?xf4lcs') format('woff'),
    url('../fonts/icomoon.svg?xf4lcs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icons8-right-button-50:before {
  content: "\e91d";
}
.icon-icons8-prev-50:before {
  content: "\e91e";
}
.icon-icons8-people-50:before {
  content: "\e916";
}
.icon-icons8-forest-50:before {
  content: "\e917";
}
.icon-icons8-green-earth-50:before {
  content: "\e918";
}
.icon-icons8-bench-50:before {
  content: "\e919";
}
.icon-icons8-three-seater-sofa-50:before {
  content: "\e91a";
}
.icon-icons8-bbq-grill-64:before {
  content: "\e91b";
}
.icon-icons8-picnic-50:before {
  content: "\e91c";
}
.icon-Arrow:before {
  content: "\e900";
}
.icon-icons8-arrow-50-1:before {
  content: "\e901";
}
.icon-icons8-barbell-50:before {
  content: "\e902";
}
.icon-icons8-basketball-field-50:before {
  content: "\e903";
}
.icon-icons8-carrom-64:before {
  content: "\e904";
}
.icon-icons8-children-50:before {
  content: "\e905";
}
.icon-icons8-collapse-arrow-20:before {
  content: "\e906";
}
.icon-icons8-home-50:before {
  content: "\e907";
}
.icon-icons8-investment-portfolio-50:before {
  content: "\e908";
}
.icon-icons8-location-50:before {
  content: "\e909";
}
.icon-icons8-museum-50:before {
  content: "\e90a";
}
.icon-icons8-office-50:before {
  content: "\e90b";
}
.icon-icons8-prev-32:before {
  content: "\e90c";
}
.icon-icons8-reading-50:before {
  content: "\e90d";
}
.icon-icons8-roller-skating-50:before {
  content: "\e90e";
}
.icon-icons8-rupee-50:before {
  content: "\e90f";
}
.icon-icons8-snooker-50:before {
  content: "\e910";
}
.icon-icons8-swimming-pool-50:before {
  content: "\e911";
}
.icon-icons8-table-tennis-64:before {
  content: "\e912";
}
.icon-icons8-teddy-bear-50:before {
  content: "\e913";
}
.icon-icons8-walking-50:before {
  content: "\e914";
}
.icon-icons8-yoga-50:before {
  content: "\e915";
}
.icon-download1:before {
  content: "\e961";
}