/* price form */
.price-section{
    .country-code, .name-cont, .m-number-cont {
        margin-bottom: 15px;
        position: relative;
    }
    .table-responsive {
        text-align: center;
        border-radius: 5px;
        border: 1px solid #1c1611;
        margin-bottom: 0px;
        th,td{
            border-right: 1px solid #1c1611;
        }
        
    }
}
