.project-highlight{
    .overview-content{
        line-height: 25px;
    }
    .mt-3{
        ul{
            list-style-type: disc;
        }
    }
    .amenities-card1{
        width: 14rem;
        margin: 0 auto;
        .card{
            height: 11rem;
        }
    }
}
