@import "../partial_files/variable";
@import "../partial_files/overview";
@import "../partial_files/icons";
@import "../partial_files/_menubar.scss";
@import "../partial_files/_banner_box.scss";
@import "../partial_files/_cta.scss";
@import "../partial_files/_modal.scss";
@import "../partial_files/_floor_plan.scss";
@import "../partial_files/_location.scss";
@import "../partial_files/_footer.scss";
@import "../partial_files/_price_table.scss";
@import "../partial_files/_social.scss";
@import "../partial_files/thankyou";
// @import "../partial_files/animation";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/*# sourceMappingURL=style.css.map */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}

body {
    background: #fff;
    color: #333;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 1em;
    letter-spacing: 0.2px;
    font-family: $open-sans;
}
.mfieldshow, .showdrop, .popfieldshow {
    display: none;
  }
ul {
    padding: 0;
}

ul,
ol {
    list-style: none;
}

h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

section {
    margin-bottom: 110px;
}

.para-margin {
    margin: -10px 0px 10px 0;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    80% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    80% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

.body-content {
    padding: 90px 0 0 0;
}

// button codes start

.arrow-btn {
    width: 100%;
    max-width: 350px;
    min-width: 120px;
    position: relative;
    height: 48px;
    background: $secondary-color;
    border-color: transparent;
    padding: 8px 0px;
    color: $white;

    p {
        margin-bottom: 0;
    }

    .btn-triangle-w {
        width: 0;
        height: 0;
        position: absolute;
        top: -2px;
        right: -2px;
        border-bottom: 48px solid #fff;
        border-left: 56px solid transparent;

        img {
            position: absolute;
            top: 20px;
            right: 6px;
            color: #fff;
            font-size: 22px;
        }

        .icon-Arrow {
            position: absolute;
            top: 25px;
            right: 6px;
            font-size: 22px;
            color: $primary-color;
        }
    }

    .btn-triangle-b {
        width: 0;
        height: 0;
        position: absolute;
        top: -2px;
        right: -2px;
        border-bottom: 48px solid $primary-color;
        border-left: 56px solid transparent;

        img {
            position: absolute;
            top: 25px;
            right: 6px;
            color: #fff;
            font-size: 22px;
        }

        .icon-Arrow {
            position: absolute;
            top: 25px;
            right: 6px;
            color: #fff;
            font-size: 22px;
        }
    }
}

// button codes end

// head title start

.head-title {
    // margin: 20px 0;
    margin-top: 40px;
    margin-bottom: 10px;
    position: relative;

    .sub-title {
        display: flex;

        h2 {
            background-color: #ffff;
            z-index: 99;
            text-transform: capitalize;
            font-weight: normal;
            color: #000000cc;
        }

        span {
            color: $primary-color;
            margin-left: 6px;
            font-size: 16px;
            font-weight: 500;
            text-transform: capitalize;
        }
    }

    h3 {
        position: absolute;
        top: 30px;
        font-weight: 700;
        font-size: 56px;
        line-height: 90px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $primary-color;
        margin-top: -84px;
        z-index: -1;
        left: 0;
        font-weight: 900;
    }

    h3:after {
        content: '';
        background-color: #fff;
        width: 100%;
        height: 36px;
        bottom: 0;
        z-index: 99999;
        left: 0;
        position: absolute;
    }
}

// head title end

// accordion section start
.accordion-item {
    background-color: #fff;
    border: 1px solid $primary-color !important;
    margin-bottom: 20px;
    border-radius: 5px;

    .accordion-header {
        background-color: #fff;
        box-shadow: none;
        border-radius: 5px;

        button {
            color: #1c1611;
            background: #fff;
            border-radius: 5px;
        }

        .accordion-button:focus {
            z-index: 3;
            border-color: transparent;
            outline: 0;
            box-shadow: none;
        }

        .accordion-button::after {
            background-image: url('../img/icons/icons8-collapse-arrow-20.webp');
        }

        .accordion-button:not(.collapsed) {
            box-shadow: none;
        }
    }

    .accordion-body {
        background: transparent;

        p {
            font-weight: 300;
        }
    }
}

.accordion-item:not(:first-of-type) {
    border-top: 1px solid 1px solid rgba(252, 203, 0, 0.6) !important;
}

.main-content {
    margin-top: 40px;
}

// overview section
.overview {
    .over-tag {
        display: flex;

        h2 {
            font-size: 16px;
        }
    }
}

/* highlight  start*/
.highlight {

    .hl-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80px;
        border-radius: 5px;
        border: 1px solid $primary-color;
        background-image: url(../img/amenities/card-bg.webp);
        background-size: cover;
        padding: 10px 10px;
        margin-top: 24px;
        text-align: center;

        span {
            margin-bottom: -22px;
        }
    }
}

/* highlight end */

/* amenities start*/
.amenities {
    .amenities_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        border: 1px solid $primary-color;
        background-image: url('../img/amenities/card-bg.webp');
        background-size: cover;
        padding: 10px 10px;
        margin-top: 24px;
        // height: 150px;
        text-align: center;

        img {
            margin: 18px auto;
            opacity: 0.6;
        }

        .text-icon {
            font-size: 50px;
            margin-top: 20px;
            margin-bottom: 20px;
            color: #696969;
        }
    }
}

/* amenities end */

/* gallery  start*/
.gallery-box {
    margin-bottom: 200px;

    .carousel {
        width: 100%;
        margin: 0px;
        text-align: center;

        .carousel-inner {
            border-radius: 5px;
        }

        .carousel-control-prev {
            background-color: transparent;

            .carousel-control-prev-icon {
                background-image: url('../img/icons/icons8-prev-32.webp');
                margin-top: 510%;
                margin-right: -1010%;
            }
        }

        .carousel-control-next {
            background-color: transparent;

            .carousel-control-next-icon {
                background-image: url('../img/icons/icons8-right-button-32.webp');
                margin-top: 510%;
                margin-left: 40%;
            }
        }
    }
}

/* gallery end */

// video start
.video {
    img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 24px;
    }
}

// video end

@media(min-width:641px) {
    .arrow-btn {
        width: 100%;
        max-width: 350px;
        min-width: 120px;
        position: relative;
        height: 48px;
        background: $secondary-color;
        border-color: transparent;
        padding: 8px 0px;
        color: $white ;

        p {
            margin-bottom: 0;
        }

        .btn-triangle-w {
            width: 0;
            height: 0;
            position: absolute;
            top: -2px;
            right: -2px;
            border-bottom: 48px solid #fff;
            border-left: 88px solid transparent;

            img {
                position: absolute;
                top: 24px;
                right: 10px;
            }

            .icon-Arrow {
                position: absolute;
                top: 25px;
                right: 6px;
                font-size: 22px;
                color: $primary-color;
            }
        }

        .btn-triangle-b {
            width: 0;
            height: 0;
            position: absolute;
            top: -2px;
            right: -2px;
            border-bottom: 48px solid $primary-color;
            border-left: 88px solid transparent;

            img {
                position: absolute;
                top: 25px;
                right: 6px;
                color: #fff;
                font-size: 22px;
            }

            .icon-Arrow {
                position: absolute;
                top: 25px;
                right: 6px;
                color: #fff;
                font-size: 22px;
            }
        }
    }

    .banner-form-part {
        max-width: 340px;
        margin: 0 auto;

        .form-highlights {
            border-radius: 0 0 5px 5px;
        }
    }

    .price-hd,
    .price-details span {
        font-size: 14px;
    }

    .ivr-header {
        .container {
            .ivr-group {
                flex-direction: row;

                .contact-details {
                    position: relative;
                }

                .social-details {
                    justify-content: flex-end;
                }

                .contact-details::after {
                    content: "";
                    position: absolute;
                    top: -4px;
                    right: -66px;
                    border-top: 49px solid #fccb00;
                    border-right: 68px solid transparent;
                }
            }
        }
    }

    .gallery-box {
        .carousel {
            .carousel-control-prev {
                background-color: transparent;

                .carousel-control-prev-icon {
                    background-image: url('../img/icons/icons8-prev-32.webp');
                    margin-top: 460%;
                    margin-right: -1140%;
                }
            }

            .carousel-control-next {
                background-color: transparent;

                .carousel-control-next-icon {
                    background-image: url('../img/icons/icons8-right-button-32.webp');
                    margin-top: 460%;
                    margin-left: 74%;
                }
            }
        }
    }
}

@media(min-width:769px) {
    .main-content {
        margin-top: 0px;
    }

    .banner-box {
        flex-wrap: nowrap;

        .banner-form-part {
            border-radius: 5px;
            position: absolute;
            background: #fff;
            right: 18px;
            top: 380px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
        }

        .offer-banner {
            border-radius: 5px;
            position: absolute;
            left: 18px;
            top: 360px;
        }
    }

    .banner-box {
        .dtp-view-img {
            display: block;
        }

        .mbl-view-img {
            display: none;
        }

        .banner-img {
            clip-path: polygon(0% 0%, 100% 0, 100% 65%, 100% 65%, 56% 88%, 31% 71%, 0 89%);

            img {
                margin-bottom: 0px;
            }
        }
    }

    .cta-image {
        margin-left: 40px;
    }

    // .fixed-social-icon {
    //     display: none;
    // }
}

@media(min-width:992px) {
    .top-bar {
        .hide-notice {
            display: block;
        }

        .header-first-row {
            .ph-no {
                margin-top: 8px;
            }

            .nav-item:last-child {
                margin-bottom: 0px;
            }

            .brochure {
                padding: 8px 20px;
            }
        }
    }

    .banner-box {
        flex-wrap: nowrap;

        .banner-form-part {
            border-radius: 5px;
            position: fixed;
            background: #fff;
            right: 18px;
            top: 100px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
        }

        .offer-banner {
            border-radius: 5px;
            position: absolute;
            left: 18px;
            top: 35px;
        }
    }

    .highlight {
        .hl-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80px;
            border-radius: 5px;
            border: 1px solid $primary-color;
            background-image: url(../img/amenities/card-bg.webp);
            padding: 10px 10px;
            min-height: auto;
        }
    }

    .amenities {
        .ameniteis-list {
            ul {
                li {
                    width: 170px;
                }
            }
        }
    }

    .price-section {
        .price-hd {
            font-size: 16px;
        }

        .price-details {
            span {
                font-size: 16px;
            }
        }

        .price-content {
            .form-group {
                display: flex;
            }

            .name-cont {
                width: 20%;
                margin: 0 10px;
            }

            .contry-code-mb-number {
                width: 55%;
                display: flex;

                .country-code {
                    margin: 0 10px 0 0;
                    width: 40%;
                }

                .m-number-cont {
                    width: 59%;
                    margin: 0 10px 0 0;
                }
            }

            .register-submit {
                width: 20%;
            }
        }
    }
}

.blink {
    span{
        animation: blink 6s linear infinite;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

// .f-i{
//     filter: blur(2px);
// }

.img-center{
    display: flex;
    justify-content: center;
}