.section.bg-img {
    // background-color: $theme-bg;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('..//../img/Gallery/g3.webp');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    padding: 80px;

    .floorplan-section {
        margin-top: 100px;

        .floorplan-img {
            img {
                width: 100%;
                filter: blur(2px);
            }
        }

        .floorplan-img.tab-box {
            display: none;
        }

        .floorplan-img.tab-box.active {
            display: block;
        }

        .order-list {
            display: flex;
            list-style: none;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
            gap: 0rem;
            list-style: none;

            .tab-menu {
                margin-bottom: 2rem;
                font-size: 1.4rem;
                font-weight: bolder;
                text-decoration: none;
                color: #fff;
                cursor: pointer;
            }

            .tab-menu.active {
                color: $theme-color;

                .floorplan-line {
                    background-color: #fff;
                }
            }

            .floorplan-line {
                content: "";
                position: absolute;
                width: 0.4rem;
                height: 4rem;
                background: $theme-color;
                margin-left: -2rem;
            }
        }

        .tab-item {
            padding: 30px;
            border: 2px solid #fff;
            position: relative;

            .tab-box {
                .floor-btn {
                    cursor: pointer;
                    border: none;
                    padding: 8px 30px;
                    background-color: $theme-color;
                    font-size: 18px;
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .section.bg-img {
        padding: 60px 0px;

        .floorplan-section {
            .order-list {
                display: flex;
                gap: 20px;
                flex-direction: row;

                .tab-menu {
                    border-bottom: 1px solid;

                    .floorplan-line {
                        display: none;
                    }

                    .active {
                        .li-item {
                            border-bottom: 3px solid #fff;
                        }
                    }
                }
            }
        }
    }
}

.floor-plan-main{
    .main-heading-para{
        .main-heading{
            color: #fff;
        }
         .sub-heading{
            color: #fff;
         }
    } 
}