.carousel {
    width: 100%;
    // height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 0.4rem;

    .controls {
        opacity: 1;
        display: flex;
        position: absolute;
        top: 50%;
        left: 0;
        justify-content: space-between;
        width: 100%;
        z-index: 9;
        transition: all ease 0.5s;

        .control {
            margin: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.7);
            opacity: 0.5;
            transition: ease 0.3s;
            cursor: pointer;
        }
    }
}

.carousel .controls .control:hover {
    opacity: 1;
}

.carousel .myslides {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    transition: 1s ease-in-out all;
    z-index: -9;
}

.carousel .myslides .slide {
    min-width: 100%;
    min-height: 32rem;
    height: auto;
}