.fixed-social-icon {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
    ul {
        margin-bottom: 0;
        list-style: none;
        li{
            a {
                color: #0d6efd;
                text-decoration: underline;
                img {
                    width: 40px;
                    display: block;
                    padding: 5px;
                }
            }
        }
        li:first-child {
            background-color: #2a72c5;
            border-radius: $border-rad;
            margin-bottom: 12px;
        }
        li:last-child {
            background: #40ca3c;
            border-radius: $border-rad;
        }
    }
}
