@import "..//partial_file/icon";
@import "..//partial_file/thankyou";

:root {
    --colorPrimary: #561a31;
    --colorSecondary: #561a31;
    --colorBtn: #fff;
}

#loader {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040
}

.loader-text {
    display: block;
    text-align: center;
    color: #d7d7d7;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.loading {
    height: 0;
    width: 0;
    padding: 4vw;
    border: .8vw solid #ccc;
    border-right-color: #888;
    border-radius: 6vw;
    -webkit-animation: rotate 1s infinite linear
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 14px;
    margin-bottom: 6px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    /* background-color: #ccc;  */
    border: none;
    outline: none;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

@keyframes loader {
    0% {
        filter: grayscale(0)
    }

    50% {
        filter: grayscale(100%)
    }

    100% {
        filter: grayscale(0)
    }
}

.accordion button:focus,
.accordion button:visited,
.accordion button:hover,
.accordion button:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.loader-logo {
    width: 300px;
    -webkit-animation: loader 1.3s infinite linear;
    -moz-animation: loader 1.3s infinite linear;
    -ms-animation: loader 1.3s infinite linear;
    -o-animation: loader 1.3s infinite linear;
    animation: loader 1.3s infinite linear
}

.pload {
    display: none
}

@media only screen and (min-width: 992px) {
    .info-box {
        width: 20vw;
        top: 8px;
        left: 10px;
        background-color: #fff;
        color: #000;
        text-align: center;
        border-radius: 8px;
        padding: 0 10px;
        font-weight: 400;
    }

    .pro-status {
        display: block;
        text-shadow: none;
        color: var(--colorPrimary);
        background-color: transparent;
        padding: .6vw 2.5vw .3vw 2vw;
        font-weight: 700;
    }

    .pro-title,
    .pro-add,
    .pro-dev,
    ul.pro-spec,
    .info-box span.heading,
    .pro-tag-line,
    .pro-price,
    .pro-rera {
        text-shadow: none;
        color: #000;
        font-weight: 400;
    }

    .pro-title {
        padding: .5vw .8vw .3vw;
        background: var(--colorPrimary);
        color: #fff;
        border-radius: 0px 0px 10px 10px;
    }

    .pro-title,
    .pro-add,
    .pro-price {
        font-weight: 700;
    }

    ul.pro-spec {
        background-color: transparent;
        margin-bottom: 0;
    }

    .info-box span.list-icon {
        display: none;
    }

    .pro-rera {
        font-size: .8vw;
    }

    .pro-list{
        text-align: left;
        list-style-type: disclosure-closed;
        font-weight: 400;
    }
}

.micro-side{
    .form-side1 {
        padding: 1.2vw;
        border: 4px solid var(--colorPrimary);
        border-radius: 15px;
    }
}

.info-box hr {
    border-top: 1px solid #fff;
    width: 100%;
    margin: 5px 0;
}

/* .pro-status{ background-color: transparent; padding: 0.3vw 1vw 0.3vw 1vw; } .pro-status span{ color: var(--colorPrimary); font-weight: bolder; } ul.pro-spec{ background-color: transparent; text-align: center; } .info-box{ border-bottom-right-radius: 0; } .info-box hr{ border-top: 1px solid #fff; width: 100%; margin: 5px 0; } .info-box-border{ border: 1px solid #fff; margin: 6px; padding-bottom: 1vw; } .roboto-bold{ font-family: 'Montserrat', sans-serif; } @media only screen and (max-width: 991px){ .pro-status{ color: #000000; } } @media only screen and (min-width: 992px){ .info-box{ background-color: rgba(40,40,40,.8); height: 100%; max-height: 95vh; z-index: 0; } .pro-tag-line{ margin-top: 10px; font-size: 1.3vw ; } }*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes bounceIn {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

.offer {
    display: block;
    padding: 8px;
    font-size: 13px;
    font-weight: 700;
}

.offer-top {
    background: #76BC4E;
    border-radius: 8px 8px 0px 0px;
}

.offer-bottom {
    background: #d1e9fc;
    border-radius: 0px 0px 8px 8px;
}

.offer-bg-animation {
    color: #000;
    display: block;
    background: linear-gradient(-45deg, #d6ac04, #fdcb00, #d6ac04, #fdcb00);
    background-size: 400% 400%;
    -webkit-animation: Gradient 3s ease infinite;
    -moz-animation: Gradient 3s ease infinite;
    animation: Gradient 3s ease infinite;
}

/*// gallery img*/

.gallery-thumb {
    width: 100%;
    height: 150px;
    opacity: 1;
    transition: all 0.5s;
    border-radius: 3px;
}

.gallery-thumb:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

@media only screen and (min-width: 575px) {
    .gallery-thumb {
        height: 150px;
    }
}

@media only screen and (max-width: 575px) {
    .gallery-thumb {
        height: 100px;
    }
}

.sectio-bro-btn {
    color: #000 !important;
}

.ami-bg-name {
    padding: 10px;
    margin: 25px;
    color: #474747;
    font-weight: 600;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: 1px solid #fff;
    background-color: var(--colorPrimary);
    color: #fff;
    text-align: center;
}

.showdrop,
.vfieldshow,
.mfieldshow,
.vfieldshow2 {
    display: none;
}

#overview ul {
    font-size: 14px;
    margin-left: 1rem;
    list-style-type: disclosure-closed;
}

.pro-spec {
    background-color: #397a4d;

    li {
        font-size: 16px;
    }
}

.offer-info {
    margin: 0;
    padding: 0;
    background-color: #eb1f3b;
    border: 1px dotted #fff;
    margin-bottom: 5px;

    li {
        list-style-type: none;
        color: #fff;
        font-weight: bold;
        padding: 5px;

    }
}

.tab-label {
    background: var(--colorPrimary);
    color: #fff;
    border: 1px solid #fff;
}

.tab-label:hover {
    background: var(--colorPrimary);
}

.link-plain,
.link-plain:hover,
.link-plain:active,
.link-plain:visited {
text-decoration: none;
}

.link-plain-f,
.link-plain-f:hover,
.link-plain-f:active,
.link-plain-f:focus,
.link-plain-f:visited {
color: initial;
text-decoration: none !important;
}

.div-center {
display: inline-block;
width: 100%;
text-align: center;
}

#va_container {
position: relative;
max-width: 663px;
margin: auto;
}

.va-thumbnail {
border-radius: 5px;
border: 0px;
max-width: 100%;
}

.va-title {
margin-top: 0px;
margin-bottom: 10px;
font-weight: 700;
}

.va-carrousel-flexbox {

display: flex;
flex-wrap: nowrap;
overflow-x: auto;
scrollbar-width: none;
}

.va-carrousel-flexbox .va-card {
flex: 0 0 auto;
padding-left: 15px;
}

.va-carrousel-flexbox .va-card:last-child {
margin-right: 15px;
}

.va-carrousel-flexbox .va-card:last-child::after {
content: ' ';
display: inline-block;
}

.va-card {
width: 100px;
cursor: pointer;
user-select: none;
outline: none;
}

.va-card:hover {
user-select: none;
outline: none;
}

.va-card a {
display: block;
}

@media (min-width: 768px) {
.va-card {
width: 130px;
}
}

.va-carrousel,
.va-carrousel-flexbox {
width: 100%;
-webkit-overflow-scrolling: touch;
}

.va-carrousel::-webkit-scrollbar,
.va-carrousel-flexbox::-webkit-scrollbar {
display: none;
}

.va-carrousel-title {
display: inline-block;

color: white;
font-weight: 700;
padding-bottom: 8px;

margin-bottom: 18px;
}

.va-title {
margin-top: 8px;
font-size: 11px;
max-height: 3em;
overflow: hidden;
color: white;
font-weight: 700;
}

@media (min-width: 768px) {
.va-title {
font-size: 13px;
}
}

.va-start-from {
font-size: 9px;
display: flex;
align-items: center;
justify-content: space-between;
color: white;
}

.va-points {
font-size: 12px;
font-weight: 700;
display: inline-block;
color: white;
}

.deals-paddle {
height: 38px;
width: 38px;
color: white;
background-color: #00000089;
border-radius: 50%;
border: 0px solid;
margin: auto;
position: absolute;

display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.deals-paddle:focus {
outline: none;
}

.deals-paddle:active {
border-style: solid;
outline: none;
user-select: none;
}

.deals-paddle svg {
width: 10px;
}

@media (min-width: 768px) {
.other-game-button {
width: 300px;
}
}

.deals-scroll-left {
top: 0;
left: -27px;
bottom: 0;
}

.deals-scroll-right {
top: 0;
bottom: 0;
right: -27px;
}

.va-carrousel-section {

padding: 0px;
position: relative;
}

@media (min-width: 768px) {

.va-carrousel-section {
padding-left: 15px;
padding-right: 15px;
}
}

.va-whitewrap {
/* background-color: white; */
padding-top: 15px;
margin-top: 15px;
}

.va-seeall {
display: block;
font-size: 18px;
font-weight: 700;
border-top: 1px solid #DDDDDD;
text-align: center;
padding: 10px;
}

.term_sec{
   a{
    color: #000;
   }
}